*,
*::after,
*::before {
    box-sizing: border-box; /* тем для подсчёта*/
}

html {
    scroll-behavior: smooth;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none; /*убрали точки слева*/
}

li {
    padding-left: 0;
}

a {
    text-decoration: none; /*убрали подчеркивание*/
    color: inherit; /*наследование цвета у родителя*/
}

p {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #131313;
}

.header__inner {
    display: flex; /* ставим в 1 строку*/
    justify-content: space-between;  /* по разным сторонам разбрасывает */
    align-items: center;  /* выравнивание */
}

.menu {
    margin-right: 70px;
}

.menu__list {
    display: flex; /* ставим в 1 строку*/
}

.menu__item  + .menu__item { /* ищет соседний селектор и задаёт соседу*/
    padding-left: 10px;
}

.menu__link {
    text-transform: uppercase;  /*Текст в большом case*/
    padding: 43px 20px;
    transition: all 0.3s; /*Плавность, посмотреть*/
}

.menu__link:hover {
    background-color: #131313;
    color: #fff;
}

.bike {
    padding: 100px 0 150px;
}

.bike__inner {
    display: flex;
}

.bike__column-slider {
    flex-basis: 630px; /*уточнить*/
    max-width: 630px;
    margin-left: 30px;
}

.bike__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    margin: 60px 0 5px;
}

.bike__subtitle {
    font-weight: 400;
    margin: 0 0 60px;
    color: #6f6f6f;
    font-size: 32px;
    line-height: 39px;
}

.bike__text {
    max-width: 420px;
    font-size: 14px;
    margin-bottom: 20px;
}

.bike__link {
    display: inline-block;
    background-color: #131313;
    color: white;
    margin-top: 80px;
    padding: 28px 81px 28px 71px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.1em; /*Расстояние между буквами*/
    transition: all .3s;
}

.bike__link:hover {
    background-color: #ff4040;
}

.bike__slider .slick-dots {
    right: 0;
    top: 50px;
}

.slick-dots {
    position: absolute; /*в связке с right 0 располагает элемент справа сверху*/
}

.slick-dots + li {
    padding-top: 10px;
}

.slick-dots button {
    width: 2px;
    height: 25px;
    border-radius: 25px;
    font-size: 0px;
    padding: 0;
    border: none;
    background-color: #131313;
    cursor: pointer;
    transition: all .3s;
}

.slick-active button {
    background-color: #ff4040;
}

.slick-active button:hover {
    background-color: #ff4040;
}

.bike__list {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.bike__list-item {
    min-width: 160px;
    display: flex; /*уточнить*/
    flex-direction: column; /*уточнить*/
    align-items: center;
    text-align: center;
    min-height: 58px;
}

.bike__list-number {
    font-weight: 700;
    text-transform: uppercase;
}

.bike__list-text {
    display: block;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    text-transform: lowercase;
    margin-right: auto 0; /*возможно стоит по другому делать*/
}

.info {
    margin-bottom: 150px;
}

.info__inner {
    display: flex;
}

.info__img {
    margin-right: 60px;
    flex-basis: 570px;
    object-fit: cover; /*растягивается изображение*/
}

.info__list {
    flex-basis: 490px;
}

.info__item + .info__item {
    padding-top: 50px;
}

.info__item-text {
    max-width: 450px;
    margin-bottom: 0;
}

.info__item-title {
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin: 0 0 10px;
}

.characteristics {
    margin-bottom: 150px;
}

.characteristics__inner {
    display: flex;
}

.characteristics__img {
    align-self: center; /*уточнить*/
}

.characteristics__title {
    padding: 2px 0 3px;
    background-color: #131313;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.characteristics__line {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    flex-basis: 285px;
}

.characteristics__desc {
    flex-basis: 285px;
}

.characteristics__items {
    flex-basis: 570px;
    margin-right: 60px;
}

.characteristics__head {
    margin: 0 0 40px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.characteristics__list + .characteristics__list {
    padding-top: 30px;
}

.slider {
    margin-bottom: 50px;
}

.slider__items .slick-dots {
    top: 0;
    left: 0;
    position: absolute;
}

.slider__item {
    padding-left: 50px;
}

.price {
    margin-bottom: 100px;
}

.price__form {
    max-width: 450px;
}

.form__title {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}

.form__text {
    max-width: 300px;
    margin-bottom: 30px;
    font-size: 14px;
}

.form__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #131313;
    padding-bottom: 10px;
    margin-bottom: 20px;
    outline: none;
}

.form__text-color {
    margin-bottom: 10px;
}

.form__input::placeholder,
.form__text-color,
.form__input {
    color: #6f6f6f;
    opacity: 0.5;
}

.form__label-box {
    display: flex;
    margin-bottom: 50px;
}

.form__input-radio {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.form__bike {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}

.price__inner {
    position: relative;
}

.form__radio-style {
    border-radius: 30px;
    width: 80px;
    height: 12px;
}

.form__radio-style--gray {
    background-color: #6f6f6f;
}

.form__radio-style--white {
    background-color: #fff;
    border: 1px solid #6f6f6f;
}

.form__radio-style--red {
    background-color: #ff4040;
}

.form__label + .form__label {
    margin-left: 23px;
}

.form__btn {
    background-color: #131313;
    padding: 28px 81px 28px 71px;
    border: none;
    color: white;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.1em;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s;
}

.form__btn:hover {
    background-color: #ff4040;
}

.form__input-radio:checked + .form__bike {
    display: block;
}

.form__bike-price {
    font-weight: 400;
    font-size: 32px;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    width: 220px;
    height: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 1px solid #ff4040;
    border-radius: 75%;
}

.form__bike-price::after {
    content: "";
    position: absolute;
    width: 220px;
    height: 100px;
    border: 1px solid #ff4040;
    border-radius: 75%;
    top: 12px;
    left: 0;
}

.footer {
    background-color: #131313;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    color: #fff;
    font-size: 12px;
    line-height: 15px;
}

.footer__contacts-link {
    display: flex;
    align-items: center;
}

.footer__contacts-svg {
    margin-right: 10px;
}

.footer__link {
    text-decoration: underline;
}

.footer__social-link + .footer__social-link {
    margin-left: 10px;
}

@media (max-width: 1100px) {
    .bike__inner {
        flex-wrap: wrap;
    }

    .bike {
        padding: 0;
    }

    .bike__text {
        max-width: 100%;
    }

    .bike__link {
        margin-top: 30px;
    }

    .bike__column {
        margin-bottom: 30px;
    }

    .bike__column-slider {
        max-width: 100%;
        margin-left: 0;
    }

    .info {
        padding-top: 50px;
    }



    .info__img {
        display: none;
    }

    .info__list {
        flex-basis: 100%;
    }

    .info__item-text {
        max-width: 100%;
    }
}

@media (max-width: 670px) {
    .bike__title {
        font-weight: 700;
        line-height: 57px;
        font-size: 44px;
        margin: 30px 0 5px;
    }

    .bike__subtitle {
        font-size: 22px;
        margin: 0 0 30px;
    }

    .bike__list {
        flex-wrap: wrap;
    }

    .bike__list-item {
        flex-basis: 50%;
        margin-bottom: 15px;
    }

    .info__item + .info__item {
        padding-top: 25px;
    }
}

@media (max-width: 640px) {
    .header__inner {
        display: block;
        text-align: center;
    }

    .menu {
        margin-top: 50px;
        margin-right: 0px;
    }

    .menu__list {
       justify-content: space-evenly;
    }

    .menu__item + . menu__item {
        padding-left: 0;
    }

    .menu__link {
        padding: 25px 20px;
    }
}

@media (max-width: 510px) {
    .menu__list {
        justify-content: space-between;
    }

    .bike__link {
        padding: 15px;
        letter-spacing: 0.9em;
    }

    .menu {
        margin-top: 30px;
    }

    .menu__link {
        padding: 25px 0px;
        font-size: 14px;
    }
}

@media (max-width: 340px) {
    .menu__link {
        font-size: 12px;
    }
}
